name: 'Build'

on:
  push:
    branches:
      - 'main'
  pull_request:
  workflow_dispatch:

jobs:
  build:
    concurrency:
      group: build-${{ github.ref }}
      cancel-in-progress: true
    runs-on: 'ubuntu-latest'
    steps:
      - name: 'Checkout'
        uses: actions/checkout@v4.2.2
        with:
          ref: ${{ github.event.pull_request.head.sha }}
          fetch-depth: 0

      - name: 'Setup JDK'
        uses: actions/setup-java@v4
        with:
          java-version: 17
          distribution: temurin

      - name: 'Setup Android SDK'
        uses: android-actions/setup-android@v3

      - name: 'Setup Gradle'
        uses: gradle/actions/setup-gradle@v4
        with:
          dependency-graph: generate-and-submit

      - name: 'Setup Gradle Environment'
        shell: bash
        run: python3 ./setup-gradle.py

      - name: 'Build'
        run: ./gradlew assemble

      - name: 'Test'
        run: ./gradlew test testReleaseUnitTest

      - name: 'Summarize Tests'
        uses: test-summary/action@v2
        if: failure() || success()
        with:
          paths: '**/build/test-results/**/TEST-*.xml'
          show: "fail"

      - name: 'Android Lint'
        run: ./gradlew lint

      - name: 'Report Lint Results'
        uses: hidakatsuya/action-report-android-lint@v1.2.2
        with:
          result-path: 'app/build/reports/lint-results-debug.xml'
          fail-on-warning: false

      - name: 'Artifact Reports'
        if: success() || failure()
        uses: actions/upload-artifact@v4
        with:
          name: 'Reports'
          path: '**/build/reports/**/*.html'
          retention-days: 7
